/*Center the content in the body
will center everything vertically & horizontally on the screen */

body {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
h1 {
  font-size: 2rem;
}

img {
  margin-bottom: 3rem;
}

h1, p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
